h1 {
    color: #B22222;
    font-weight: bold;
}

button.eStop {
    border: none;
    height: 111px;
    width: 111px;
    background-color: transparent;
    background-image: url('../img/e-stop.png');
    outline: none;
}

button.eStop:hover {
    cursor: pointer;
    background-image: url('../img/e-stop-hover.png');
}

.full-width {
    display:block;
}

.lb-sm {
      font-size: 12px;
}

.lb-md {
      font-size: 16px;
      padding-top: 0.4em;
      padding-right: 0.5em;
      padding-left: 0.5em;
      padding-bottom: 0.5em;
      margin-right: 10px;
}

.lb-lg {
      font-size: 20px;
}

.w50pc {
    width: 50%
}

.w75pc {
    width: 75%
}

.w150px {
    width: 150px
}
