{% extends "layout.html" %}

{% block title %}Deck Editor{% endblock title %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protocol.css') }}">
{% endblock includes %}

{% block content %}
    <h1>Deck Editor</h1>
    <button onclick="save_deck()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save deck</button>
    <button class="btn btn-primary btn-file"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open deck<input id="open-deck" type="file" accept=".json"></button>
    <button onclick="send_deck()" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send to BioBot</button>

    <div class="container-fluid row">
        <div id="deck_holder"></div>
    </div>
    <script src="{{ url_for('static', filename='js/deck_editor.js') }}"></script>
{% endblock content %}
