{% extends "layout_analysis.html" %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js') }}"></script>
{% endblock includes %}

{% block content_left %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Step {{current}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for step in steps %}
                {% if step == current %}
                    <li><a href="#">Step {{step}}</a></li>
                {% else %}
                    <li><a href="/logs/{{protocol}}/colonies_analysis/step/{{step}}">Step {{step}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div style="margin-top:15px;margin-right:15px">
        <table class="table table-bordered">
            <tr><th>Desired colony characteristics</th></tr>
            <tbody>
                <tr><td>Color : blue</td></tr>
                <tr><td>Area : > 1 mm²</td></tr>
            </tbody>
        </table>
    </div>
{% endblock content_left %}

{% block content_right %}
    {{get_picture(protocol, 'test.jpg')}}

{% endblock content_right %}

{% block content_bottom %}
    <h3>Bacterial colonies characteristics</h3>
    <table id="table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Area</th>
                <th>Perimeter</th>
                <th>Excentricity</th>
                <th>Compactness</th>
                <th>X coordinate</th>
                <th>Y coordinate</th>
            </tr>
        </thead>
        <tbody>
            {% for colony in colonies %}
                <tr>
                    <td>{{colony['id']}}</td>
                    <td>{{colony['color']}}</td>
                    <td>{{colony['area']}}</td>
                    <td>{{colony['perimeter']}}</td>
                    <td>{{colony['excentricity']}}</td>
                    <td>{{colony['compactness']}}</td>
                    <td>{{colony['x']}}</td>
                    <td>{{colony['y']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            $('#table').dataTable().columnFilter({
                sPlaceHolder: "head:before",
                aoColumns:[
                    null,
                    {type: "select", values: {{colors|safe}}}
                ]
            });
        });
    </script>
{% endblock content_bottom %}

