{% extends "layout.html" %}

{% block title %}Biological Protocol{% endblock title %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
{% endblock includes %}

{% block content %}
    <h1>Biological Protocol</h1>
    <button onclick="save_protocol()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save protocol</button>
    <button class="btn btn-primary btn-file"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open protocol<input id="open-protocol" type="file" accept=".json"></button>
    <button onclick="start_protocol()" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Start protocol</button>

    <h3>Reference information</h3>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Name</span>
        <input type=text id="protocol_name" class="form-control" maxlength="{{conf.limit_input_md}}">
    </div>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Author</span>
        <input type=text id="protocol_author" class="form-control" maxlength="{{conf.limit_input_md}}" value="{{current_user.get_id()}}">
    </div>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Description</span>
        <textarea id="protocol_description" class="form-control" cols="40" rows="3" maxlength="{{conf.limit_textarea_sm}}"></textarea>
    </div>
    <div class="container-fluid row">
        <div id="labware_holder"></div>
    </div>
    <div class="container-fluid row">
        <div id="containers_holder"></div>
    </div>
    <div class="container-fluid row">
        <div id="instructions_holder"></div>
    </div>
    <script>var operator = '{{current_user.get_id()}}';</script>
    <script src="{{ url_for('static', filename='js/protocol_editor.js') }}"></script>
{% endblock content %}
